{% extends 'pages/index2.html'%}
{% load static %}

{% block title %}
<title>Магія | 404</title>
<meta name="description" content='Сторінка відсутня'>
<meta name="keywords" content='Сторінка відсутня'>
{% endblock %}

{% block body %}
        <section class="contained">
            <h2 class="section-title ff-damion bg-primary-foot">404</h2>
            <h3 class="ta-center col-wide mlmr-a">
                Ой, здається ціеї сторінки не існує. Не хвилюйтесь, можна повернутись на головну
            </h3>
        </section>
{% endblock %}