{% extends 'pages/index.html'%}
{% load static %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% if cat %}
            <li class="breadcrumb-item">
                <a href="{% url 'pages:category_view' slug=cat.slug %}">{{cat.title}} </a>
            </li>
            {% endif %}
            {% if product %}
            <li class="breadcrumb-item">
                <a href="{% url 'pages:single' slug_prod=product.slug %}">{{product.title}} </a>
            </li>
            {% endif %}
  </ol>
</nav>

<img src="{{ product.image.url }}" alt="">
{{product.description}}

{% if product.sale %} {{product.prise_on_sale}} {% else %} {{product.price}} {%endif%}


<a href="{% url 'pages:add_to_basket' product.id product.id%}">By</a>


{% endblock %}








