
{% extends 'pages/index2.html'%}
{% load static %}

{% block title %}
<title>Магія | Кошик з товарами</title>
<meta name="description" content="Заповнений кошик та оформлення замовлень">
<meta name="keywords" content="Кошик">
{% endblock %}

{% block body %}

<section class="row contained">



<div class="col-balance">
                <div class="card-side">
                    <!-- SIDE NAVIGATION OTHER BLOGS -->
                    <span class="fs-h3 ff-damion">Кошик</span>
                    <hr>
                    {% if baskets%}
                        {% if user.is_authenticated %}
                            {% for basket in baskets %}
                            <div class="row">
                            <div class="col-wide">
                            <a href="{% url 'pages:single' slug_prod=basket.product.slug %}" class="card-post">
                                <img src="{{basket.product.image.url}}" alt="">
                                <div class="info">
                                    <p class="no-margin fw-bold">{{basket.product.title}}</p>
                                    <small class="no-margin">{{basket.size}}</small>
                                    <small class="no-margin">{{basket.color}}</small>
                                    <small class="no-margin">{% if basket.product.sale %} {{basket.product.prise_on_sale}} {% else %} {{basket.product.price}} {%endif%}грн. * {{basket.quantity}}шт. = {{basket.sum}}грн. </small>

                                </div>
                            </a>
                            </div>
                            <div class="col-slim">
                                <a href="{% url 'pages:remove_basket' basket.id basket.product.id 0 0 %}" class="card-post" style="">
                                    Видалити
                                </a>
                            </div>
                            </div>
                            <hr>
                            {% endfor %}
                        <h3>Всього: {{baskets.total_sum}}грн.</h3>
                        {% else %}
<!--                                    <section class="contained ta-center" id="about" style="margin: 0; padding: 0; background: lightyellow; color:orangered;">-->
<!--                                        <h2 class="section-title ff-damion" style="background: orangered; color:lightyellow;">Увага!</h2>-->
<!--                                        <h3 class="col-wide mlmr-a">-->
<!--                                            Ви не увійшли в аккаунт. Обрані товари не будуть зберігатись довго-->
<!--                                        </h3>-->

<!--                                    </section>-->
                            {% for i in baskets %}
                            <div class="row">
                            <div class="col-wide">
                            <a href="{% url 'pages:single' slug_prod=i.product.slug %}" class="card-post">
                                <img src="{{i.product.image.url}}" alt="">
                                <div class="info">
                                    <p class="no-margin fw-bold">{{i.product.title}}</p>
                                    <small class="no-margin">{{i.size}}</small>
                                    <small class="no-margin">{{i.color}}</small>
                                    <small class="no-margin">{% if i.product.sale %} {{i.product.prise_on_sale}} {% else %} {{i.product.price}} {%endif%}грн. * {{i.quantity}}шт. = {{i.sum}}грн. </small>

                                </div>
                            </a>
                            </div>
                            <div class="col-slim">
                                <a href="{% url 'pages:remove_basket' 0 i.product.id i.size i.color%}" class="card-post" style="">
                                    Видалити
                                </a>
                            </div>
                            </div>
                            <hr>
                            {% endfor %}
                        <h3>Всього: {{total_sum}}грн.</h3>
                        {% endif %}

                    {% else %}
                    <h3>Покищо тут порожньо</h3>
                    {% endif %}

                </div>

</div>
<div class="col-balance">
    <div class="card-side">
                    <!-- SIDE NAVIGATION OTHER BLOGS -->
                    <span class="fs-h3 ff-damion">Замовлення</span>
                    <hr>
<!--        <div class="tabs">-->
<!--        &lt;!&ndash; Вкладки &ndash;&gt;-->
<!--        <input type="radio" id="tab1" name="tab-group" checked>-->
<!--        <label for="tab1" class="card-post">Вкладка 1</label>-->

<!--        <input type="radio" id="tab2" name="tab-group">-->
<!--        <label for="tab2" class="card-post">Вкладка 2</label>-->

<!--        <input type="radio" id="tab3" name="tab-group">-->
<!--        <label for="tab3" class="card-post">Вкладка 3</label>-->

<!--        &lt;!&ndash; Содержимое вкладок &ndash;&gt;-->
<!--        <div class="content">-->
<!--            <h3>Спосіб оплати:</h3>-->
<!--            <div class="tab-content" id="content1">-->
<!--                <p>Содержимое первой вкладки.</p>-->
<!--            </div>-->
<!--            <div class="tab-content" id="content2">-->
<!--                <p>Содержимое второй вкладки.</p>-->
<!--            </div>-->
<!--            <div class="tab-content" id="content3">-->
<!--                <form action="">-->
<!--                    -->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            {% if baskets%}
            <form action="{% url 'pages:thanks' %}" class="message-form" style="background: #ffffff; padding: 20px; border-radius: 25px; width: 100%" method="post">
                {% csrf_token %}
                <h3>Контактні данні</h3>
                <div class="row mb-20">
                <input type="text" id="surname" name="surname" class='' placeholder='Прізвище' required>
                <input type="text" id="name" name="name" class='ml-a' placeholder="Ім'я" required>
                </div>
                <div class="row mb-20">
                <input type="tel" id="phone" name="phone" pattern="\+\d{2} \(\d{3}\) \d{3} \d{2} \d{2}" placeholder="+ Номер телефону" required />
                <script>
                document.getElementById('phone').addEventListener('input', function (e) {
                  var x = e.target.value.replace(/\D/g, '');
                  if (x.length > 0) x = '+' + x;
                  if (x.length > 4) x = x.slice(0, 3) + ' (' + x.slice(3);
                  if (x.length > 9) x = x.slice(0, 8) + ') ' + x.slice(8);
                  if (x.length > 14) x = x.slice(0, 13) + ' ' + x.slice(13);
                  if (x.length > 17) x = x.slice(0, 16) + ' ' + x.slice(16,18);
                  e.target.value = x;
                });
                </script>
                </div>
                <hr>
                <h3>Місце та спосіб доставки</h3>
                <div class="row mb-20">
                <select id="sd" name="sd">
                  <option value="Nova poshta">Нова пошта</option>
                  <option value="Ukrposhta">Укрпошта</option>
                </select>

                </div>
                <div class="row mb-20">
                    <input type="text" id="city" name="city" class='' placeholder="Місто" required>
                <input type="text" id="adress" name="adress" class='ml-a' placeholder='Адресса'>
                </div>
                <hr>
                <textarea id="message-message" name="message-message" rows="5" placeholder="Додаткова інформація" ></textarea>




                    <button type="submit" class="btn-bg1 border-round mt-20">Замовити</button>
            {%else%}
                <form class="message-form" style="background: #ffffff; padding: 20px; border-radius: 25px; width: 100%">
                {% csrf_token %}
                <h3>Контактні данні</h3>
                <div class="row mb-20">
                <input type="text" id="surname" name="surname" class='' placeholder='Прізвище' required>
                <input type="text" id="name" name="name" class='ml-a' placeholder="Ім'я" required>
                </div>
                <div class="row mb-20">
                <input type="tel" id="phone" name="phone" pattern="\+\d{2} \(\d{3}\) \d{3} \d{2} \d{2}" placeholder="+ Номер телефону" required />
                <script>
                document.getElementById('phone').addEventListener('input', function (e) {
                  var x = e.target.value.replace(/\D/g, '');
                  if (x.length > 0) x = '+' + x;
                  if (x.length > 4) x = x.slice(0, 3) + ' (' + x.slice(3);
                  if (x.length > 9) x = x.slice(0, 8) + ') ' + x.slice(8);
                  if (x.length > 14) x = x.slice(0, 13) + ' ' + x.slice(13);
                  if (x.length > 17) x = x.slice(0, 16) + ' ' + x.slice(16,18);
                  e.target.value = x;
                });
                </script>
                </div>
                <hr>
                <h3>Місце та спосіб доставки</h3>
                <div class="row mb-20">
                <select id="sd" name="sd">
                  <option value="Nova poshta">Нова пошта</option>
                  <option value="Ukrposhta">Укрпошта</option>
                </select>

                </div>
                <div class="row mb-20">
                    <input type="text" id="city" name="city" class='' placeholder="Місто" required>
                <input type="text" id="adress" name="adress" class='ml-a' placeholder='Адресса'>
                </div>
                <hr>
                <textarea id="message-message" name="message-message" rows="5" placeholder="Додаткова інформація" ></textarea>




                    <a class="btn-bg1 border-round mt-20">Для початку покладіть щось в кошик</a>

                {%endif%}
            </form>

        </div>
    </div>
    </div>


                </div>
</div>

</section>





{% endblock %}


